<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="umes">
            <img src="/recursos/logomeso.png" alt="Logo Mesoamericana">
            <h1 class="titulo_encabezado">UMES</h1>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/index.html">Objetivos</a></li>
                <li><a href="/index.html">Tests</a></li>
                <li><a href="/index.html"> Contactanos</a></li>
                <li><a href="/index.html"> Encuentranos</a></li>
            </ul>
        </nav>
    </header>
    <h1 style="text-align: center; color: red;">
        !!EN DESARROLLO!!
    </h1>
    <section class="definiciones">
        <div class="personalidad">
            <h1>
                ¿Qué es la personalidad?
            </h1>
            <p>
                Personalidad es el conjunto de características psicológicas y patrones de comportamiento que diferencian a una persona de otra. Incluye rasgos como la extroversión, la introversión, la amabilidad, la responsabilidad, el neuroticismo y la apertura a la experiencia. La personalidad influye en cómo pensamos, sentimos y actuamos en diversas situaciones de la vida.
            </p>
        </div>

        <div class="inteligencia">
            <h1>
                ¿Qué es la inteligencia?
            </h1>

            <p>
                Inteligencia es la capacidad de aprender, entender, razonar, resolver problemas y adaptarse a nuevas situaciones. Incluye habilidades como el pensamiento abstracto, la comprensión compleja, el aprendizaje de la experiencia y el uso del conocimiento para manejar el entorno. La inteligencia se puede medir a través de pruebas estandarizadas y puede manifestarse en diversas formas, como la inteligencia lógica, lingüística, espacial, musical, interpersonal e intrapersonal.
            </p>
        </div>
    </section>

    <section class="adorno">
        <h1 class="titulo_afecta">
            ¿Cómo afecta mi personalidad y tipo de inteligencia en mi rendimiento académico?
        </h1>
        <div class="afectan">
            <div class="afectan-personalidad">
                <h2>
                    Personalidad
                </h2>
                <ul>
                    <li>
                        <strong>Extroversión vs. Introversión:</strong>
                        <ul>
                            <li><strong>Extrovertidos:</strong> Pueden participar más activamente en discusiones y trabajos en grupo, lo que puede mejorar el aprendizaje colaborativo. Sin embargo, pueden distraerse más fácilmente.</li>
                            <li><strong>Introvertidos:</strong> Tienden a concentrarse mejor en tareas individuales y pueden ser más autodisciplinados, aunque podrían participar menos en actividades grupales.</li>
                        </ul>
                    </li> <br>
                    <li>
                        <strong>Responsabilidad:</strong> Las personas con altos niveles de responsabilidad tienden a ser organizadas, disciplinadas y confiables, lo que puede traducirse en hábitos de estudio eficaces y mejor rendimiento académico.
                    </li><br>
                    <li> 
                        <strong>Apertura a la Experiencia:</strong> Aquellos con alta apertura suelen ser curiosos y creativos, lo que puede facilitar el aprendizaje y la comprensión de nuevos conceptos.
                    </li><br>
                    <li>
                        <strong>Neuroticismo:</strong> Un alto nivel de neuroticismo puede llevar a ansiedad y estrés, lo cual puede interferir con el rendimiento académico. Sin embargo, en niveles bajos, la preocupación puede motivar a la preparación y al estudio.
                    </li> <br>
                    <li>
                        <strong>Amabilidad:</strong> Las personas amables suelen ser cooperativas y trabajar bien en equipo, lo que puede ser beneficioso en proyectos grupales y ambientes de aprendizaje colaborativo.
                    </li>
                </ul>  
            </div>
    
            <div class="afectan-inteligencia">
                <h2>
                    Inteligencia
                </h2>
                <ul>
                    <li>
                        <strong>Inteligencia Lógica-Matemática:</strong> Estos estudiantes tienden a destacar en materias que requieren habilidades de razonamiento lógico y resolución de problemas, como matemáticas y ciencias.
                    </li><br>
                    <li>
                        <strong>Inteligencia Lingüística:</strong> Aquellos con alta inteligencia lingüística suelen tener un buen desempeño en áreas relacionadas con la lectura, escritura y comunicación verbal, como literatura e idiomas.
                    </li><br>
                    <li>
                        <strong>Inteligencia Espacial:</strong> Los estudiantes con alta inteligencia espacial sobresalen en tareas que involucran visualización y manipulación de objetos, como arte, geometría y diseño.
                    </li><br>
                    <li>
                        <strong>Inteligencia Musical:</strong> Estos estudiantes muestran talento en áreas que requieren habilidades musicales, como música y otras actividades artísticas.
                    </li><br>
                    <li>
                        <strong>Inteligencia Corporal-Kinestésica:</strong> Los estudiantes con alta inteligencia corporal-kinestésica se destacan en actividades físicas y tareas que requieren coordinación motora, como deportes y danza.
                    </li><br>
                    <li>
                        <strong>Inteligencia Interpersonal:</strong> Aquellos con alta inteligencia interpersonal tienen habilidades para interactuar y comunicarse efectivamente con otros, lo cual es beneficioso en trabajos en grupo y actividades colaborativas.
                    </li><br>
                    <li>
                        <strong>Inteligencia Intrapersonal:</strong> Estos estudiantes tienen una buena comprensión de sí mismos, lo que les permite manejar mejor sus emociones y establecer metas personales, contribuyendo a un aprendizaje autodirigido efectivo.
                    </li><br>
                    <li>
                        <strong>Inteligencia Naturalista:</strong> Los estudiantes con alta inteligencia naturalista tienden a destacar en áreas relacionadas con la naturaleza y las ciencias biológicas.
                    </li>
                </ul>
            </div>
        </div>       
    </section>
   

    <section class="info-tests">
        <div class="fondo-2">

            <div class="contenedor">
                <div class="tarjetas">
                    <p>
                        Un test de personalidad es una herramienta psicológica diseñada para evaluar y medir ciertos aspectos de la personalidad de un individuo, como rasgos, comportamientos, actitudes y características emocionales. Estos tests suelen utilizar preguntas, situaciones o tareas específicas para obtener información sobre la forma en que una persona piensa, siente y se comporta en diferentes situaciones. Existen varios tipos de pruebas de personalidad, cada una con enfoques y objetivos específicos. Algunas pruebas están diseñadas para ayudar en la selección de empleados, otras para la evaluación clínica, el asesoramiento personal o el desarrollo profesional.
                    </p>  
                </div>
            </div>

            <div class="contenedor">
                <div class="tarjetas">
                    <p>
                        Un test de inteligencias, también conocido como prueba de inteligencia múltiple, es una evaluación diseñada para medir las diferentes formas en que una persona puede ser inteligente, según la teoría de las inteligencias múltiples propuesta por Howard Gardner. Esta teoría sugiere que la inteligencia no puede ser definida por un único coeficiente intelectual (CI), sino que se manifiesta de diversas formas. Los tests de inteligencias múltiples evalúan áreas como la lingüística, lógico-matemática, espacial, musical, corporal-kinestésica, interpersonal, intrapersonal y naturalista. Cada una de estas áreas representa un tipo de inteligencia distinta, y una persona puede destacar en una o varias de ella
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
    <section class="ayuda-personalidad">
        <div>
            <h1>
                Según tu personalidad
            </h1>
            <p>
                Aquí, en caso de que el estudiante requiera, según su tipo de personalidad loaconsejaremos. Le aconsejaremos como podría desarrollarse mejor en un entorno social, o también cómo podría ser mas carismático. Todo esto según su personalidad 
            </p>
        </div>
        
        <img src="" alt="personalidad test">

        <button>
            Siguiente
        </button>
    </section>

    <section class="ayuda-inteligencia">
        <img src="" alt="inteligencia test">
        <h1>
            Según tu inteligencia
        </h1>

        <p>
            Aquí, en caso de que el estudiante lo requiera, le darémos consejos de cómo pude mejorar su rendimiento académico. Aconsejandole, según sus tipos de inteligencia mas destacados, cómo puede desarrollar un método de estudio eficiente. 
        </p>

        <button>
            anterior
        </button>
    </section>
</body>
</html>
